.float_btn {
  background-size: 24px 24px;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: fixed;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-position: 50%;
  box-shadow: 0 6px 13px 0 rgba(0,0,0,.23);
  & > .inner {
    border-radius: 50%;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }
  @include modifier( 'load_more' ) {
    background-image: url(../Resources/Images/loadmore.png);
    bottom: 15px;
    right: 15px;
    background-color: #e05850;
    border: 1px solid #b83028;
  }
}