body {
  background-color: $body-background-color;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn {
  cursor: pointer;
}
.form-control {
  text-align: center;
}
input.form-control::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: black;
  opacity: 0.2;
}
input.form-control:-moz-placeholder,
textarea:-moz-placeholder {
  color: black;
  opacity: 0.2;
}
input.form-control::-moz-placeholder,
textarea::-moz-placeholder {
  color: black;
  opacity: 0.2;
}
input.form-control:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: black;
  opacity: 0.2;
}