.sidebar {
  background-color: $sidebar-background-color;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  box-shadow: 0 0px 15px 8px rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}